<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>verifyUser</servlet-name>
        <servlet-class>controller.verifyUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassword</servlet-name>
        <servlet-class>controller.ForgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>controller.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword2</servlet-name>
        <servlet-class>controller.ChangePassword2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchPartners</servlet-name>
        <servlet-class>controller.searchPartners</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>serachPartners2</servlet-name>
        <servlet-class>controller.serachPartners2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>partner2</servlet-name>
        <servlet-class>controller.partner2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewUserProfile</servlet-name>
        <servlet-class>controller.viewUserProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>verifyUser</servlet-name>
        <url-pattern>/verify-user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassword</servlet-name>
        <url-pattern>/forgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/changePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword2</servlet-name>
        <url-pattern>/changePassword2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchPartners</servlet-name>
        <url-pattern>/searchPartners</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>serachPartners2</servlet-name>
        <url-pattern>/serachPartners2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>partner2</servlet-name>
        <url-pattern>/partner2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewUserProfile</servlet-name>
        <url-pattern>/viewUserProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
